<h3><a href="/">body</a></h3>
<a href="/subform">表单提交&参数接收</a></br>
<a href="/usesession">使用session</a></br>
<a href="/usecookies">使用cookies</a></br>
<a href="/usecrypto">字符串加密</a></br>
<a href="/clean">清除Cookie&Session</a></br>
<a href="/fileUpload">上传文件</a>