<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- title %>
   	<% include env %>

   	<form method="post" action="/fileUpload" enctype="multipart/form-data">
   	    <input id='file' type='file' multiple/>
        <input id='file_upload' type='submit' value='upload'/>
   	</form>
  </body>
</html>