<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%- title %>
   	<% include env %>

   	<% if(locals.islogin){ %>
      用户已登录
    <% } else { %>
      <form method="post">
        <input type="submit" value="submit"/>
      </form> 
    <% } %>
  </body>
</html>